<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="wrapper {property}">
    <button class="toggle-dropdown form-control toggle-next ellipsis">
            <span class="button-label">
                <f:translate key="tx_cardealer_domain_model_prependLabel.{property}" />
                ({items.countAll})
            </span>
    </button>

    <div class="dropdown">
        <div class="scroll-div">
            <label>
                <f:form.radio value="0"
                              class="all ajax-filter"
                              name="tx_cardealer_pi1[filter][{property}][]"
                              checked="{f:if(condition: '!{args.filter.{property}.0}', then: 'checked')}" />
                <f:translate key="tx_cardealer_domain_model_prependLabel.{property}" /> ({items.countAll})
            </label>
            <f:for each="{items}" as="item" key="key">
                <f:if condition="{item.uid}">
                    <br />
                    <label class="{item.disabled}">
                        <f:form.radio class="input ajax-filter" value="{item.uid}"
                                      name="tx_cardealer_pi1[filter][{property}][]"
                                      checked="{item.selected}" />
                        <f:if condition="{property} == 'price' || {property} == 'mileage'">
                            <f:then>
                                <f:if condition="{property} == 'price'">
                                    <f:then>
                                        <span>{item.title -> f:format.currency(thousandsSeparator: '.', currencySign: '€', prependCurrency: '0', decimals: '0')} ({item.counter})</span>
                                    </f:then>
                                    <f:else>
                                        <span>{item.title -> f:format.currency(thousandsSeparator: '.', currencySign: 'km', prependCurrency: '0', decimals: '0')} ({item.counter})</span>
                                    </f:else>
                                </f:if>
                            </f:then>
                            <f:else>
                                <span>{item.title} ({item.counter})</span>
                            </f:else>
                        </f:if>
                    </label>
                </f:if>
            </f:for>
        </div>
    </div>
</div>
</html>



