<f:variable name="title"><f:for as="value" each="{car.make}" iteration="_iter"><f:if condition="{_iter.isFirst}">
<f:format.raw>{value.title}</f:format.raw></f:if></f:for><f:format.raw>
{car.modelDescription}</f:format.raw></f:variable>

<f:variable name="images">
    <v:iterator.explode content="{car.imagesAsCsv}" glue="," as="images">
    </v:iterator.explode>
</f:variable>

<f:variable name="vehicleData">{title}
Inserat: {car.uid}
Preis: <f:format.number decimalSeparator="," decimals="0" thousandsSeparator=".">{car.price}</f:format.number> EUR
Kilometerstand: <f:format.number decimalSeparator="," decimals="0" thousandsSeparator=".">{car.mileage}</f:format.number> km
Standort: {car.location}
Standort Email: {car.email}
Kategorie:<f:for as="value" each="{car.category}" iteration="_iter">
    <f:if condition="{_iter.isFirst}">
        <f:format.raw>{value.title}</f:format.raw>
    </f:if>
</f:for>
Klasse:<f:for as="value" each="{car.carclass}" iteration="_iter">
    <f:if condition="{_iter.isFirst}">
        <f:format.raw>{value.title}</f:format.raw>
    </f:if>
</f:for>
Erstzulassung: <f:format.date format="m/Y">{car.firstRegistration}</f:format.date>
</f:variable>

<div id="modal-request-form">
    <div>
        <h2>Anfrage Formular:</h2>
        <f:form id="request-form" additionalAttributes="{data-parsley-validate: ''}" action="send" controller="Standard"
                extensionName="Cardealer" pluginName="form" pageType="1552662805" arguments="{car: '{car.uid}'}">
            <!--            <button class="modal-close-default" type="button">x</button>-->
            <div class="col-md-12">
                <h4>{title}</h4>

                <div id="form-info" class="alert alert-error" style="display: none"></div>
                <div class="form-fields">
                    <p>
                        <select required="" class="form-control" name="salutation">
                            <option value="">Anrede*</option>
                            <option value="Frau">Frau</option>
                            <option value="Herr">Herr</option>
                        </select>
                    </p>
                    <p>
                        <input name="firstname" class="form-control" placeholder="Vorname"/>
                    </p>
                    <p>
                        <input required="" data-parsley-minlength="3" name="lastname" class="form-control" type="text"
                               placeholder="Nachname*"/>
                    </p>
                    <p>
                        <input required="" data-parsley-type="email" name="email" class="form-control" type="text"
                               placeholder="Email*"/>
                    </p>
                    <p>
                        <input name="phone" class="form-control" type="text" placeholder="Telefon"/>
                    </p>
                    <p>
                        <textarea name="message" class="form-control" placeholder="Ihre Nachricht"></textarea>
                    </p>

                    <p>
                        <textarea rows="9" class="form-control" disabled>{vehicleData}</textarea>
                    </p>

                    <p>
                        <label class="">
                            <input required="" type="checkbox" name="terms" class="" value="ja"/>
                            &nbsp;Ich bestätige die
                            <f:link.page pageUid="{settings.pid.terms}" target="_blank">Allgemeinen Geschäftsbedingungen
                            </f:link.page>
                        </label>
                        <br/>
                        <label class="">
                            <input required="" type="checkbox" name="privacy" class="" value="ja"/>
                            &nbsp;Ich bestätige die
                            <f:link.page pageUid="{settings.pid.privacy}" target="_blank">Datenschutzbestimmungen
                            </f:link.page>
                        </label>
                    </p>

                    <p>
                        <input type="hidden" name="vehicle" value="{vehicleData}"/>
                    </p>
                </div>
            </div>
            <div class="text-right">
                <button class="btn btn-default" type="button"
                        onclick="jQuery('#request-form')[0].reset();">Löschen
                </button>
                |
                <button id="send-form" class="btn btn-primary">Senden</button>
            </div>
        </f:form>
    </div>
</div>

<script>
    jQuery(function () {
        var form = jQuery('#request-form');
        form.parsley();

        form.on('submit', function (e) {
            e.preventDefault();
            jQuery(this).parsley().validate();

            jQuery('#form-info').fadeOut().removeClass('uk-alert-success uk-alert-danger');
            jQuery('#request-form .form-fields').show();

            if (jQuery(this).parsley().isValid()) {
                var form = jQuery('form');
                var formData = form.serialize();

                jQuery('#send-form').prop('disabled', true);

                jQuery.ajax({
                    url: form.prop('action'),
                    method: 'POST',
                    data: formData,
                    success: function (response) {
                        console.log(response.send);

                        if (response.send === false) {
                            jQuery('#form-info').fadeIn().addClass('uk-alert-danger').html('<strong>Server Fehler</strong><code>' + response.error + '</code>')
                            return;
                        }
                        jQuery('#request-form')[0].reset();
                        jQuery('#request-form .form-fields').hide();
                        jQuery('#form-info').fadeIn().addClass('uk-alert-success').html('<strong>Vielen Dank für Ihre Anfrage</strong><p>Ihre Anfrage wurde versendet.</p>')
                    },
                    error: function (error) {
                        console.log('error', error)
                    }
                });
            }
        });
    });
</script>
