
.text-center {
    text-align: center;
}

.tx- cardealer ul.paginator,
.tx-cardealer .text-center {
    text-align: center
}

.tx-cardealer .firstOption {
    color:-webkit-link;
    text-align: center;
    text-transform: uppercase;
}

.tx-cardealer .disabled {
    color: graytext;
}
.tx-cardealer ul.paginator {
    margin: 20px 0;
    padding: 0;
    text-align: center;
}
.tx-cardealer ul.paginator li {
    display: inline-block;
    margin-right: 10px
}

.tx-cardealer-list {
    width: 100%;
}
.tx-cardealer-list th,
.tx-cardealer-list td {
    padding: 5px;
}

.tx-cardealer-list th {
    background: #ddd;
}

.tx-cardealer-list tr:nth-child(odd) {
    background: #eee
}