body {
  font-family: arial, sans-serif;
  font-size: 13px;
}

ul {
  margin: 0 0 0 20px;
  padding: 0;
}

.align-right {
  text-align: right;
}

dt, dd {
    line-height: 20px;
}

dt {
    float: left;
    width: 50%;
    font-weight: bold;
}

.toggle-filter{
    display: none
}

.ellipsis {
    width: 50% !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    display: inline-block;
    margin: 0;
    line-height: 1;
}

.effClassListImg {
  width: 100px;
  height: auto;
}

#descriptionHeader {
  margin-bottom: 0;
}
.price {
  margin-top: 0;
}